/* Noto Sans JP */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');


@font-face {
    font-family: 'Corporate Logo';
    src: url('../fonts/Corporate-Logo-Medium-ver3.otf') format('opentype');
    font-weight: 500; /* Medium */
    font-style: normal;
}

@font-face {
    font-family: 'Corporate Logo';
    src: url('../fonts/Corporate-Logo-Bold-ver3.otf') format('opentype');
    font-weight: 700; /* Bold */
    font-style: normal;
}