/* =========================================
    ファイル: assets/css/base.css
    説明: 基本文字、配色、全体のスタイル
========================================= */


:root {
    --color-background__white: rgb(255 255 255 / 1);/* white */
    --color-background__white-a: rgb(255 255 255 / 0.8);/* white透過 */
    --color-background__black-grey: rgb(51 51 51 / 1);/* #333 */

    --color-text__white: rgb(255 255 255 / 1);/* white */
    --color-text__black: rgb(0 0 0 / 1);/* black */

    --color-box-shadow: rgb(0 0 0 / 0.1);/* black透過 */
}

html { overflow-y: scroll; }

body {
    background-color: var(--color-background__white);
    color: var(--color-text__black);
}

/* 全体に適用（基本はMediumになります） */
body {
    font-family: 'Corporate Logo', sans-serif;
    font-weight: 500; /* ここでMediumファイルが使われます */
}

/* 見出しなどは太字にする */
h1, h2, strong {
    font-weight: 700; /* ここで自動的にBoldファイルに切り替わります */
}


h2 {
    font-size: 6rem;
    text-transform: uppercase;
}

p {
    font-size: 1rem;
}