/*=========================================
ファイル: assets/css/base.css
説明: 基本文字、配色、全体のスタイル
=========================================*/


:root {
    --color-background__white: rgb(255 255 255);
    --color-background__white-a: rgb(255 255 255 / 0.8);
    --color-background__black-grey: rgb(51 51 51);
    --color-background__grey-a: rgb(157 157 157);

    --color-background__button: rgb(157 157 255);

    --color-text__white: rgb(255 255 255);
    --color-text__black: rgb(0 0 0);

    --color-box-shadow: rgb(0 0 0 / 0.1);

    --color-background__hover: rgb(245 245 245);

    --color-border: rgb(255 255 255 / 0.3);

    --color-scroll-indicator: rgb(21 132 184);
}

html { overflow-y: scroll; }

/* font 480 - 1080 可変 */
body {
    background-color: var(--color-background__white);
    color: var(--color-text__black);
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    font-size: clamp(1rem, 0.6667vw + 0.8rem, 1.25rem);
    letter-spacing: 0.05em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    line-height: 1.3;
}

h2 {
    font-size: clamp(4rem, 4.7059vw + 3.0588rem, 6rem);
    text-transform: uppercase;
}

