/*=========================================
ファイル: assets/css/component.css
説明: パーツ部品のCSS設定
=========================================*/

/*==================================
固有バーツ（一度しか使用しないもの）
==================================*/


/*style.cssに記載*/


/*==================================
汎用パーツ (再利用するもの)
==================================*/


/*==================================
<a href="" class="view-all-link">view all</a>
==================================*/
.view-all-link {
    margin: 40px 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    text-transform: uppercase;
    border: 1px solid var(--color-background__black-grey);
    color: var(--color-text__black);
    border-radius: 999px;
    padding: 10px 60px;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 0.5px;
    transition: background-color 0.2s ease;
}

.view-all-link:hover { background-color: var(--color-background__hover); }

