/*=========================================
ファイル: assets/css/global.css
説明: 全体に適用するベーススタイル・タイポグラフィ・ユーティリティ
=========================================*/

html {
    overflow-x: hidden;
    overflow-y: scroll;
}

/* font 480 - 1080 可変 */
body {
    background-color: var(--color-background__white);
    color: var(--color-text__black);
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    /*font-size: clamp(1rem, 0.3333vw + 0.9rem, 1.125rem);*/
    font-size: 1rem;
    letter-spacing: 0.05em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    line-height: 1.3;
}

h2 {
    font-size: clamp(4rem, 4.7059vw + 3.0588rem, 6rem);
    text-transform: uppercase;
}

.text-util__small {
    font-size: clamp(0.625rem, 0.6667vw + 0.425rem, 0.875rem);
}

.util-height__dvh { height: 100dvh; }

/* --- アニメーション軽減設定 --- */
@media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
        transition-duration: 1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        scroll-behavior: auto !important;
    }
}
