/*=========================================
ファイル: assets/css/layout.css
説明: レイアウトに関するCSS設定
=========================================*/


#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    overflow: hidden;
}

.top-main { flex-grow: 1; }

.section--news { padding: 0 0 40px 0; }

.section--talents,
.section--goods,
.section--audition,
.section--faq { padding: 40px 0; }

.container {
    max-inline-size: 1000px;
    inline-size: 90%;
    margin-inline: auto;
}

