/*=========================================
ファイル: assets/css/layout.css
説明: レイアウトに関するCSS設定
=========================================*/


#page-layout__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    overflow-x: clip;
}

footer {
    position: sticky;
    top: 100%;
}

.page-layout__main { flex-grow: 1; }

.page-section__talents {
    padding-top: 200px;
}

.page-section__news {
    padding-top: max(3.75rem, 7.6389vw + 1.4583rem);
}

.page-section__goods,
.page-section__audition {
    padding-top: max(1.875rem, 9.7222vw - 1.0417rem);
}

.page-layout__container {
    max-inline-size: 1200px;
    inline-size: 90%;
    margin-inline: auto;
}

/*---talents専用コンテナ---*/
.page-layout__container-talents {
    max-inline-size: 1200px;
    inline-size: 90%;
    margin-inline: auto;
    position: relative;
}

