/*=========================================
ファイル: assets/css/layout.css
説明: レイアウトに関するCSS設定
=========================================*/


#page-layout__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    /*overflow: hidden;*/
    overflow-x: clip;
}

footer {
    position: sticky;
    top: 100%;
}

.page-layout__main { flex-grow: 1; }

.page-section__news { padding: 0 0 clamp(1.5625rem, 2.5vw + 0.8125rem, 2.5rem) 0; }

.page-section__talents,
.page-section__goods,
.page-section__audition,
.page-section__faq { padding: clamp(1.5625rem, 2.5vw + 0.8125rem, 2.5rem) 0; }

.page-layout__container {
    max-inline-size: 1000px;
    inline-size: 90%;
    margin-inline: auto;
}

