/*=========================================
ファイル: assets/css/style.css
説明: component.cssの固有バーツ（一度しか使用しないもの）を記載
=========================================*/


/*---main visual--*/

/*   ---main visual character--*/
.main-visual__character-sp {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

@media (max-width: 767.49px) {
    .main-visual__character-sp {
    opacity: 1;
    }
}

.main-visual__character-sp img {
    height: 120vh;
    min-height: 400px;
    max-inline-size: none;
    object-fit: cover;
}



@media (max-width: 767.49px) {
    .main-visual__character-sp img {
    height: 105vh;
    }
}
/*   ---main visual character--*/


/*   ---site rogo---*/
.first-view img {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 18vw;
    height: auto;
    z-index: 10; /* --- === 10 === --- */
    object-fit: contain;
}

@media (max-width: 767.49px) {
    .first-view img {
        width: 120px;
        bottom: 10px;
        left: 10px;
    }
}
/*   ---site rogo---*/


/*   ---SCROLL Indicator---*/
.section--main-visual {
    position: relative;
    margin-bottom: 180px;
}

@media (max-width: 767.49px) {
    .section--main-visual {
        margin-bottom: 100px; 
    }
}

.scroll-indicator {
    position: absolute;
    bottom: -110px; 
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 20; /* --- === 20 === --- */
}


@media (max-width: 767.49px) {
    .scroll-indicator {
        bottom: -60px; 
    }
}

.scroll-text {
    font-size: 16px;
    letter-spacing: -0.03em;
    color: var(--color-text__black);
    padding: 0 0 8px 0;
}

.scroll-line {
    width: 1px;
    height: 210px;
    position: relative;
    overflow: hidden;
    background-color: var(--color-scroll-indicator);
}

@media (max-width: 767.49px) {
    .scroll-line {
        height: 180px;
    }
}


.scroll-line::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-text__black); 
    animation: scroll-line-anim 2s cubic-bezier(1, 0, 0, 1) infinite;
}

@keyframes scroll-line-anim {
    0% {
        transform: scaleY(0);
        transform-origin: top;
    }
    50% {
        transform: scaleY(1);
        transform-origin: top;
    }
    50.1% {
        transform: scaleY(1);
        transform-origin: bottom;
    }
    100% {
        transform: scaleY(0);
        transform-origin: bottom;
    }
}
/*   ---SCROLL Indicator---*/

/*---main visual--*/


/*---about---*/
.section--about {
    padding: 50px 0;
    text-align: center;
}

.section--about p {
    white-space: pre-wrap;
    line-height: 3.5;
}
/*---about---*/


/*---news---*/
.section--news { text-align: center; }

.carousel-container {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.slide {
    flex: 0 0 calc(100% / 3);
    box-sizing: border-box;
    padding: 0 10px;
    container-type: inline-size;
}

@media (max-width: 1200px) { .slide { flex: 0 0 calc(100% / 2); } }

@media (max-width: 767.49px) { .slide { flex: 0 0 100%; } }

.slide-content {
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 16 / 9;
    display: flex;
    border-radius: 6px;
    text-transform: uppercase;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.slide-content::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 3.5px solid var(--color-border);
    border-radius: inherit;
    pointer-events: none;
    box-sizing: border-box;
}

.slide-content__001 { background-image: url(../images/carousel-track_001.png); }

.slide-content__002 { background-image: url(../images/carousel-track_002.png); }

.slide-content__003 { background-image: url(../images/carousel-track_003.png); }

.slide-content__004 { background-image: url(../images/carousel-track_004.png); }

.slide-content__005 { background-image: url(../images/carousel-track_005.png); }

.slide-content__006 { background-image: url(../images/carousel-track_006.png); }

.slide-content p {
    font-size: 3.6cqw; 
    font-weight: 700;
    color: var(--color-text__white);
    background-color: var(--color-scroll-indicator);
    padding: 2px 15px 2px 7px;
    border-radius: 0 0 5cqw 0;
}

.slide-text-wrapper {
    text-align: left;
    padding-top: 15px;
}

.slide-meta {
    display: flex;
    gap: 1.25rem;
    align-items: center;
    font-size: 0.875rem;
    padding-bottom: 8px;
}

.slide-category {
    text-transform: uppercase;
    font-weight: bold;
}

.slide-title {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.4;
    margin: 0;
}

.carousel-btn {
    position: absolute;
    top: calc(var(--slide-image-height, 200px) / 2);
    width: 45px;
    height: 45px;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background__grey-a);
    color: var(--color-text__white);
    border-radius: 50%;
    border: none;
}

.prev-btn { left: 15px; }
.next-btn { right: 15px; }

.icon--triangle {
    width: auto;
    height: 25px;
}
/*---news---*/